/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

/* body {
	font-family: sans-serif;
} */

div.home-container { 
	background: url(images/grey.jpg) center center fixed;
	background-size: cover;
	position: relative;
	min-height: 100vh;
}

div.container {
	position: relative;
	min-height: 100vh;
	background-color: #F6F1F1;
}

/* >>> IMPORTANT: you have to change the wrap the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class.  */


main { 
	padding: 0.5em 1.5em 0.5em;
	}

img {
    width: 100%; /*Please leave this line.*/
     display: block;
}

header {
	display: grid;
	grid-template-columns: 60% auto;
	background: rgb(27,69,113);
	padding: 0em 1em;
	}

h1 {
	width: 13em;
	}

h2, h3, h4 {
	font-weight: bold;
	font-family: "lora", serif;
	font-weight: 700;
	font-style: normal;
	}

h2 {
	font-size: 2.5em;
	margin: 0.5em 0em 0.5em;
	color: rgb(27,69,113);
	font-weight: 900;
	}
	
h3 {
	font-size: 1.8em;
	margin: 1em 0em 0.75em;
	color: rgb(27,69,113);
}

h4 {
	font-size: 1.1em;
}

a {
	text-decoration: none;
	}

nav ul  {
	text-align: right;
	}
	
ul li 	{
	list-style-type: none;
}

figure {
	margin-bottom: 1em;
}

main.menu ul {
		margin: 0.5em 0em;
}	

main.menu ul li {
		margin: 1em 0em 1em;
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
}	

p {
	margin: 0.5em 0em 0.5em;
	font-family: "roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
	}
	
p.description {
	color: #146C94;
	grid-column: 1/3;
	margin: 0em;
	}
	
p.price {
	grid-row: 1/2;
	grid-column: 2/3;
	color: rgb(234, 51, 35);
	text-align: right;
	margin: 0em;
	}
	
nav ul li {
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 1em;
	margin-top: 2em;
	}
	
nav ul li a {
	color: #F6F1F1;
	background-color: #146C94;
	border-radius: 17px;
	padding: 0.5rem  0.5rem;
	}
	

p.slogan {
	font-size: 3.3em;
	font-family: serif;
	font-style: italic;
	margin: 1.5em 0.75em 2.5em;
	color: #F6F1F1;	
	background-color: rgba(83, 83, 83, 0.6);
	}
	
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem; 
  box-sizing: border-box;
  padding: 1em 0.5em;
  background: #19A7CE;
}

address {
	color: #146C94;
	}

footer p {
	margin: 0;
}

nav ul li a:hover {
    background-color: rgb(240, 141, 53);
    color: rgb(250, 250, 250);
}

nav ul li a:active {
    background-color: rgb(240, 141, 53);
    color: rgb(250, 250, 250);
}

nav ul li.selected a {
    background-color: rgb(240, 141, 53);
    color: rgb(250, 250, 250);
}

main{
    padding-bottom: 5rem;
}

article.about{
	margin-top: 3rem;
	display: grid;
	grid-template-columns: auto 50%;
	grid-template-rows: auto;
	
}

figure.about{
	margin: auto;
	max-width: 100%;
	max-height: 100%;
	grid-column: 2/3;
	grid-row: 1/6;
}

p.about{
	grid-column: 1/2;
	padding-right: 1em;
}

h2.about{
	grid-column: 1/2;
}

figure.category {
	grid-template-columns: auto;
	grid-template-rows: auto auto;
}


img.card {
	position: relative;
	margin: 0.1rem  auto;
	max-width: 50%;
	max-height: fit-content;
}

img.about {
	border-radius: 50px;
}

@media screen and (min-width: 60em) {
    div.home-container {
        max-width: 75em;
        margin: auto;
    }
    div.container {
        max-width: 75em;
        margin: auto;
        
    }

    html{
        background-color: rgb(3, 3, 71);
    }

    nav ul li {
        display: inline-block;
        margin-left: 1.2em;
        margin-right: 1.2em;
        max-width: 5em;
        transform: scale(1.4);
    }

    nav ul{
        margin-top: 2.5em;
        margin-right: 2em;
    }

    main.menu ul {
        display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto auto;

    }

    main.menu ul li {
        margin: 1em 1.5em;
    }
    
	figure.category {
		display: grid;
		grid-template-columns: auto auto;
	}
	
}
